<footer class="bg-light text-center text-dark">
    <div class="container">
        <div class="row p-4">
            <section id="footer-body-section">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-4 mb-sm-0 text-left">
                        <a href="/">
                            <img src="/images/MiniLogo.jpeg" alt="Hafiz Cloth House" class="img-fluid text-uppercase " style="height: auto; max-width: 200px; max-width: 200px;" />
                        </a>
                        <ul class="list-unstyled mb-0">
                            <li class="list-unstyled pt-2">
                                <span class="mt-1">
                                    Post Office Road, Near Post Office,
                                    Hafizabad
                                </span>
                            </li>
                            <li class="list-unstyled pt-2">
                                <span class="footerText font-weight-bold">
                                    Contact Number:
                                </span>
                            </li>
                            <li class="list-unstyled pt-2">
                                <span class="contact-number">
                                    +92 303 7022359
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-4 mb-sm-0 text-left">
                        <h5 class="text-uppercase" style="color: rgb(24, 24, 119); font-weight: bold;">
                            Customer Support
                        </h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/" class="text" style="color: rgb(24, 24, 119);">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text" style="color: rgb(24, 24, 119);">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text"  style="color: rgb(24, 24, 119);">
                                    About Us
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
                        <h5 class="text-uppercase" style="color: rgb(24, 24, 119); font-weight: bold;">
                            Shop
                        </h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#" class="footerText" data-toggle="collapse" data-target="#mensCollection">
                                    Men's Collection <span class="d-md-none">+</span>
                                </a>
                                <ul id="mensCollection" class="list-dot mb-0 collapse">
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Wash & Wear
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Cotton
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Boski
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Lattha
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Wool
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Lawn
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-left">
                        <h5 class="d-none d-lg-block d-md-block text-uppercase " style="color: rgb(24, 24, 119); font-weight: bold;">
                            Shop
                        </h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#" class="footerText" data-toggle="collapse" data-target="#womensCollection">
                                    Women's Collection <span class="d-md-none">+</span>
                                </a>
                                <ul id="womensCollection" class="list-dot mb-0 collapse">
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Bridal
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Lehnga
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Maxi
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="footerText redirect-to-products">
                                            Tail
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </section>
        </div>

        <div class="row pt-2">
            <div class="col-11">
                <section id="social-icons-section" class="mb-4">
                    <a class="btn btn-outline-primary btn-floating m-1 footerText" href="#" role="button">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="btn btn-outline-primary btn-floating m-1 footerText" href="#" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-outline-primary btn-floating m-1 footerText" href="#" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>
                </section>
            </div>
        </div>
    </div>

    <section id="footer-copyright-div" class="text-center p-3">
        &copy; 2023 Copyright:
        <a class="footerText" href="/">
            Hafiz Cloth House
        </a>
    </section>
</footer>